.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .main-content {
    margin-left: 78px;
    transition: margin-left 0.5s;
    padding: 16px;
  }
  
  .main-content-open {
    margin-left: 250px;
  }
  
  .order-content {
    /* Additional styles for order content if needed */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
  }


  
  