<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example24" class="form-control" />
              <label class="form-label" for="form5Example24">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        In a world where digital presence is paramount, our platform provides a seamless experience that connects people and businesses effortlessly. With cutting-edge technology and a commitment to excellence, we offer solutions that are innovative, reliable, and tailored to meet your needs. Join us in transforming the way we interact and thrive in the digital age.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liens</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="home" class="text-white">Home</a>
            </li>
            <li>
              <a href="tarif" class="text-white">Nos Tarifs</a>
            </li>
            <li>
              <a href="service" class="text-white">Nos Services</a>
            </li>
            <li>
              <a href="contact" class="text-white">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <a class="text-white">Agadir</a>
            </li>
            <li>
              <a class="text-white">0638153545</a>
            </li>
            <li>
              <a class="text-white">0638153545</a>
            </li>
            <li>
              <a class="text-white">khalil.farouqi.f&#64;gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nos Réseaux</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white" href=""><i class="fab fa-facebook-f"></i> Facebook</a>
            </li>
            <li>
              <a class="text-white" href=""><i class="fab fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a class="text-white" href=""><i class="fab fa-whatsapp"></i> WhatsApp</a>
            </li>
            <li>
              <a class="text-white" href=""><i class="fab fa-youtube"></i> YouTube</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
