<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Liens</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-body">Home</a>
            </li>
            <li>
              <a href="#!" class="text-body">Nos Tarifs</a>
            </li>
            <li>
              <a href="#!" class="text-body">Nos Services</a>
            </li>
            <li>
              <a href="#!" class="text-body">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Contact</h5>
  
          <ul class="list-unstyled">
            <li>
                <a href="#!" class="bi bi-house"></a>
                <a href="#!" class="text-body">Agadir</a>
            </li>
            <li>
                <a href="#!" class="bi bi-telephone"></a>
              <a href="#!" class="text-body">0638153545</a>
            </li>
            <li>
                <a href="#!" class="bi bi-whatsapp"></a>
              <a href="#!" class="text-body">0638153545</a>
            </li>
            <li>
                <a href="#!" class="bi bi-envelope"></a>
              <a href="#!" class="text-body">khalil.farouqi.f&#64;gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Nos Réseaux</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a class="bi bi-facebook" href="#!"></a>
            </li>
            <li>
              <a class="bi bi-instagram" href="#!"></a>
            </li>
            <li>
              <a class="bi bi-whatsapp" href="#!"></a>
            </li>
            <li>
              <a class="bi bi-youtube" href="#!"></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>