<app-side-bar (sidebarToggled)="onSidebarToggled($event)"></app-side-bar>
<app-nav-bar></app-nav-bar>
<div class="main-content" [class.main-content-open]="isSidebarOpen">
  <div class="container">
    <h1>Send a Message:</h1>
    <form (ngSubmit)="sendMessage()">
      <div class="form-group">
        <label for="messageType">Message Type:</label>
        <input type="radio" name="email" id="email">
        <input type="radio" name="sms" id="sms">
        <input type="radio" name="whatsapp" id="whatsapp">
        <select class="form-control" id="messageType" [(ngModel)]="messageType" name="messageType" required>
          <option value="email">Email</option>
          <option value="sms">SMS</option>
          <option value="whatsapp">WhatsApp</option>
        </select>
      </div>
      <div class="form-group" *ngIf="messageType === 'email'">
        <label for="emailTo">To (Email):</label>
        <select class="form-control" id="emailTo" name="to" [(ngModel)]="to" required>
          <option *ngFor="let customer of customers" [value]="customer.email">{{ customer.completeNom }}</option>
        </select>
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" [(ngModel)]="subject" name="subject" required>
        <label for="emailText">Text:</label>
        <quill-editor [(ngModel)]="text" name="text"></quill-editor>
      </div>

      <div class="form-group" *ngIf="messageType === 'sms' || messageType === 'whatsapp'">
        <label for="smsWhatsappTo">To (Phone Number):</label>
        <select class="form-control" id="smsWhatsappTo" name="to" [(ngModel)]="to" required>
          <option *ngFor="let customer of customers" [value]="customer.tel">{{ customer.completeNom }}</option>
        </select>
        <label for="messageText">Text:</label>
        <textarea class="form-control" id="messageText" [(ngModel)]="text" name="text" rows="5" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">
        Send {{ messageType | titlecase }}
      </button>
    </form>

    <div *ngIf="responseMessage" class="alert alert-info mt-3">
      {{ responseMessage }}
    </div>
  </div>
</div>
