<div class="top-bar">
    <div class="contact-info">
      <span>Appelez Nous {{configApp.tel}}</span> |
      <a href={{configApp.email}}>{{configApp.email}}</a>
    </div>
    <div class="social-icons">
      <a class="bi bi-facebook" href={{configApp.facebookUrl}} target="_blank" aria-label="Facebook"></a>
      <a class="bi bi-instagram" href={{configApp.instagramUrl}} target="_blank" aria-label="Instagram"></a>
      <a class="bi bi-whatsapp" href={{configApp.whatsappUrl}} target="_blank" aria-label="WhatsApp"></a>
    </div>
  </div>
