<div class="top-bar">
    <div class="contact-info">
      <span>Appelez Nous 06 38 15 35 45</span> |
      <a href="mailto:contact@swiftabrid.ma">khalil.farouqi.f&#64;gmail.com</a>
    </div>
    <div class="social-icons">
      <a class="bi bi-facebook" href="https://www.facebook.com" target="_blank" aria-label="Facebook"></a>
      <a class="bi bi-instagram" href="https://www.instagram.com" target="_blank" aria-label="Instagram"></a>
      <a class="bi bi-whatsapp" href="https://www.whatsapp.com" target="_blank" aria-label="WhatsApp"></a>
    </div>
  </div>
