.btn{
    margin: 10px;
}
.btn-warning{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}