<app-side-bar (sidebarToggled)="onSidebarToggled($event)"></app-side-bar>
<app-nav-bar></app-nav-bar>
<div class="main-content" [class.main-content-open]="isSidebarOpen">
  <div class="order-content">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Commande</th>
            <th scope="col">Action</th>
            <th scope="col">Status</th>
            <th scope="col">Nom du client</th>
            <th scope="col">Tel du client</th>
            <th scope="col">Ville client</th>
            <th scope="col">Nom du Produit</th>
            <th scope="col">Prix uniter</th>
            <th scope="col">Qty Commandé</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.trackingCode}}</td>
            <td>{{order.stage}}</td>
            <td>{{order.customer.completeNom}}</td>
            <td>{{order.customer.tel}}</td>
            <td>{{order.customer.address}}</td>
            <td>{{order.cart.itemDtos.product.productNom}}</td>
            <td>{{order.cart.itemDtos.itemsPrice}}</td>
            <td>{{order.cart.itemDtos.qty}}</td>
            <td>{{order.totalPrice}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
