<app-side-bar (sidebarToggled)="onSidebarToggled($event)"></app-side-bar>
<app-nav-bar></app-nav-bar>
<div class="main-content" [class.main-content-open]="isSidebarOpen">
  <div class="order-content">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">N° Commande</th>
            <th scope="col">Action</th>
            <th scope="col">Status</th>
            <th scope="col">Nom du client</th>
            <th scope="col">Tel du client</th>
            <th scope="col">Ville client</th>
            <th scope="col">Nom du Produit</th>
            <th scope="col">Prix uniter</th>
            <th scope="col">Qty Commandé</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.trackingCode}}</td>
            <td>{{order.stage}}</td>
            <td>{{order.status}}</td>
            <td>{{order.customer.completeNom}}</td>
            <td>{{order.customer.tel}}</td>
            <td>{{order.customer.city}}</td>
            <td>
              <tr *ngFor="let item of order.cart.items">
                <td><a href="/product-page/{{item.product.id}}">{{item.product.productNom}}</a></td>
              </tr>
            </td>
            <td>
              <tr *ngFor="let item of order.cart.items">
                <td>{{item.product.sellingPrice}}</td>
              </tr>
            </td>
            <td>
              <tr *ngFor="let item of order.cart.items">
                <td>{{item.qty}}</td>
              </tr>
            </td>
            <td>{{order.totalPrice}} DH</td>
            <td>
              <tr><button type="button" class="btn btn-primary mb-2" data-toggle="modal" (click)="treatOrder(order.id, 'CONFIRMED')"><i class="fas fa-check"></i></button></tr>
              <tr><button type="button" class="btn btn-primary mb-2" data-toggle="modal" (click)="treatOrder(order.id, 'REFUSE')"><i class="fas fa-times"></i></button></tr>
              <tr><button type="button" class="btn btn-primary mb-2" data-toggle="modal" (click)="treatOrder(order.id, 'NO_ANSWER')"><i class="fas fa-question"></i></button></tr>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>