<app-contact-bar></app-contact-bar>
<app-nav-bar-home></app-nav-bar-home>
<div class="service-page">
    <h1>Welcome to Our E-commerce Solutions!</h1>
    <p>
      With the rise of e-commerce, businesses are facing an increasing volume of orders, necessitating efficient and transparent order processing. Our project aims to develop a dedicated web application for e-commerce order management, providing companies with a centralized solution to receive, track, and process their orders in real time. This application will optimize operations, synchronize inventory, and provide detailed analytical reports, thereby helping businesses thrive in a constantly evolving competitive environment.
    </p>
    <h2>Our E-commerce Solutions Include:</h2>
    <ul>
      <li>E-commerce Website Development</li>
      <li>Order Management System Integration</li>
      <li>Inventory Management Solutions</li>
      <li>Analytical Reporting Tools</li>
    </ul>
    <div class="auth-section">
      <h2>Sign Up or Sign In</h2>
      <p>Already have an account? Sign in here:</p>
      <a href="signup">
        <button>Sign In</button>
        </a>
      <p>New to our platform? Sign up now:</p>
      <a href="login">
        <button>Sign Up</button>
        </a>
    </div>
    <p>Contact us today to learn more!</p>
</div>
<app-footer></app-footer>
