.main-content {
  margin-left: 78px;
  transition: margin-left 0.5s;
  padding: 16px;
}

.main-content-open {
  margin-left: 250px;
}

.order-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-images {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.product-images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.product-info {
  flex: 1 1 50%;
}

.product-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.price {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.purchase-price,
.weight {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
  }

  .product-images, .product-info {
    flex: 1 1 100%;
    margin-right: 0;
  }

  .product-images img {
    width: 100%;
  }
}
